body{
    background-color: rgb(80, 117, 150);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.title{
    text-align: center;
    font-size: 2em;
    text-shadow: #ba7f00;
}

.sentence{
    font-size: 0.5em; 
    padding: 0.5em; 
    width: 20em;
  }
.maxWordCount{
  font-size: 0.5em; 
  padding: 0.5em; 
  width: 10em;
}

.errorMessage{
    color: firebrick;
}

.hideWords{
    text-align: center;
}
.footer{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;  
        padding-bottom: 2em;
}

.highlight{
    background-color: rgb(217, 255, 0);
    margin-right:0.2em;
    margin-left:0.2em;  
    text-align: center;
}

.content{
    display: flex;
    text-align: center;
   
}